[Unit]
Description=MyService example
# After=auditd.service systemd-user-sessions.service time-sync.target

[Service]
# EnvironmentFile=/etc/sysconfig/crond
ExecStart=/usr/lib/hello/hello.sh
ExecReload=/usr/lib/hello/hello.sh
KillMode=process
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=graphical.target
